---

// Layout
import Layout from "@/layouts/Layout.astro";

// Components
import Hero from "@/components/Hero.astro";
import Features from "@/components/home/Features.astro";
import Projects from "@/components/home/Projects.astro";
import Heading from "@/components/ui/Heading.astro";
import { getCollection} from "astro:content";
import BlogCard from "@/components/blog/BlogCard.astro";

const posts = await getCollection("blog", ({data}) => !data.isDraft);

---

<Layout title="Home">
 
  <Hero />
  <Features />
  <section aria-labelledby="latest-projects" class="container rows">
    <Heading tagName="h2" tagSize="h2" id="latest-projects">Latest Projects</Heading>
    <Projects tagName="h3" limit={3} />
   </section>
   <section aria-labelledby="recent-posts" class="container rows">
    <Heading tagName="h2" tagSize="h2" id="recent-posts">Recent Posts</Heading>
   <div class="grid-wrapper">
    {posts.sort((a,b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()).slice(0, 3).map((post) => <BlogCard tagName="h3" post={post} />)}
   </div>
   </section>
</Layout>
